# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=your_supabase_project_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key

# Interswitch Test Credentials
NEXT_PUBLIC_INTERSWITCH_MERCHANT_CODE=your_merchant_code
NEXT_PUBLIC_INTERSWITCH_PAY_ITEM_ID=your_pay_item_id
NEXT_PUBLIC_INTERSWITCH_CLIENT_ID=your_client_id
NEXT_PUBLIC_INTERSWITCH_CLIENT_SECRET=your_client_secret
